header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 16px;
}

.controls {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 16px;
  width: fit-content;
  border: 2px solid black;
  width: 96px;
}

.controls div {
  display: flex;
  justify-content: space-between;
  margin: 0 8px;
}

.controls-title {
  padding: 0 0 24px;
}

.control-items {
  font-weight: bold;
}

h1 {
  font-size: 45px;
  text-decoration: underline;
  margin: 0 auto;
  animation: color-change-1 3s infinite;
}

h3 {
  font-size: 30px;
  text-decoration: underline;
  margin: 0 auto;
  animation: color-change-2 3s infinite;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

canvas {
  margin: 0 auto;
}

@keyframes color-change-1 {
    0% { color: IndianRed; }
    10% { color: OrangeRed; }
    20% { color: LimeGreen; }
    30% { color: Aqua; }
    40% { color: Chocolate; }
    50% { color: Beige; }
    60% { color: blue; }
    70% { color: Indigo; }
    80% { color: DimGrey; }
    90% { color: Navy}
    100% { color: Cornsilk; }
}

@keyframes color-change-2 {
  0% { color: IndianRed; }
  20% { color: LimeGreen; }
  40% { color: Chocolate; }
  60% { color: blue; }
  80% { color: DimGrey; }
  100% { color: Cornsilk; }
}

footer {
  margin: 0 auto 30px;
  padding: 24px 0 0;
}
