header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.controls {
  margin: 0 10%;
  width: fit-content;
  padding-bottom: 16px;
}

.control-items {
  font-weight: bold;
}

h1 {
  font-size: 45px;
  text-decoration: underline;
  margin: 0 auto;
  animation: color-change 3s infinite;
}

h3 {
  font-size: 30px;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

canvas {
  margin: 0 auto;
}

@keyframes color-change {
    0% { color: IndianRed; }
    10% { color: OrangeRed; }
    20% { color: LimeGreen; }
    30% { color: Aqua; }
    40% { color: Chocolate; }
    50% { color: Beige; }
    60% { color: blue; }
    70% { color: Indigo; }
    80% { color: DimGrey; }
    90% { color: Navy}
    100% { color: Cornsilk; }
}

footer {
  margin: 0 auto 30px;
}
